$per_grid_height: 100px;

$font-Titele: normal bold 72px 'Roboto', sans-serif;
$font-Titele2: normal bold 48px 'Roboto', sans-serif;
$font-Titele3: italic bold 24px 'Roboto', sans-serif;
$font-Subtitle: normal bold 24px 'Roboto', sans-serif;
$font-Paragraph: normal normal 16px 'Roboto', sans-serif;
$font-Logo: normal bold 18px 'Roboto', sans-serif;