@import 'node_modules/bootstrap/scss/_functions.scss';
@import 'bootstrap_variables_customer';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'product_gallery_variables';
@import 'components/Home.scss';
@import 'components/Detail.scss';
@import 'components/ImagePath';

.grid_height_1 {
    height: $per_grid_height;
}

.grid_height_2 {
    height: $per_grid_height * 2;
}

.grid_height_4 {
    height: $per_grid_height * 4;
}

.grid_height_6 {
    height: $per_grid_height * 6;
}

.pg_240x100 {
    width: 240px;
    height: 100px;
}

.pg_360x300 {
    width: 360px;
    height: 300px;
}

.pg_480x400 {
    width: 480px;
    height: 400px;
}

.pg_240x200 {
    width: 240px;
    height: 200px;
}

.pg_480x200 {
    width: 480px;
    height: 200px;
}

.pg_240x400 {
    width: 240px;
    height: 400px;    
}

.pg_720x400 {
    width: 720px;
    height: 400px;    
}

.pg_hollow_squre {
    border: 20px solid $color-green;
}

.pg_fill_squre {
    border: 20px solid $color-green;
    background-color: $color-green;
}

.pg_stripe_squre {
    background-image: url('/static/img/pattern unit.svg');
}

.rotate_90 {
    transform: rotate(90deg);
}

.rotate_180 {
    transform: rotate(180deg);
}

.rotate_270 {
    transform: rotate(270deg);
}

.pg_logo {
    width: 131px;
    height: 27px;
    background: $black;
    p {
        color: white;
        font: $font-Logo;
        text-align: center;
        line-height: 27px;
        margin: 0;
        padding: 0;
    }
}

.pg_product_image {
    background-position:center;
    background-size: cover;      
    z-index: 10; 
}