.pg_home {
    padding: 17px;
    min-width: 1024px !important;
    > .container {
        width: 990px !important;
        min-width: 990px !important;
    }

    .pg_header {
        height: $per_grid_height;
    }

    .pg_logo {
        width: 131px;
        height: 27px;
        background: $black;
        p {
            color: white;
            font: $font-Logo;
            text-align: center;
            line-height: 27px;
            margin: 0;
            padding: 0;
        }
    }

    .pg_title {
        margin-top: 6px;
        font: $font-Titele;
    }
    
    .pg_product_image {
        background-position:center;
        background-size: cover;      
        z-index: 10; 
    }

    .pg_image_reverse {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

    .pg_decorate_1 {
        position: absolute;
        right: -60px;
        top: -50px;
        z-index: 9; 
    }

    .pg_decorate_2 {
        position: absolute;
        left: 60px;
        bottom: -50px;
        z-index: 11;         
    }

    .pg_decorate_3 {
        position: absolute;
        left: 180px;
        bottom: 150px;
        z-index: 9; 
    }

    .pg_decorate_4 {
        position: absolute;
        left: 240px;
        bottom: 200px;
        z-index: 9;         
    }

    .pg_decorate_5 {
        position: absolute;
        left: 0;
        top: -50px;
        z-index: 9;             
    }

    .pg_decorate_6 {
        position: absolute;
        right: -60px;
        top: 50px;
        z-index: 9;             
    }

    .pg_decorate_7 {
        position: absolute;
        right: 60px;
        top: -50px;
        z-index: 9;            
    }

    .pg_decorate_8 {
        position: absolute;
        right: 0;
        bottom: -50px;
        z-index: 11;           
    }

    .pg_decorate_9 {
        position: absolute;
        right: 180px;
        top: -50px;
        z-index: 11;           
    }

    .pg_decorate_10 {
        position: absolute;
        right: 120px;
        bottom: -50px;
        z-index: 9;           
    }

    .pg_decorate_11 {
        position: absolute;
        right: -60px;
        top: 150px;
        z-index: 9;           
    }

    .pg_decorate_12 {
        position: absolute;
        right: -120px;
        bottom: 0;
        z-index: 9;           
    }

    .pg_decorate_13 {
        position: absolute;
        left: 0;
        top: 250px;
        z-index: 9;           
    }

    .pg_decorate_14 {
        position: absolute;
        left: -60px;
        bottom: 200px;
        z-index: 9;  
    }

    .pg_product_title {
        z-index: 11;
        width: 100%;
    }

    .pg_product_title,
    .pg_product_title span,
    .pg_product_title:before,
    .pg_product_title:after,
    .pg_product_title_rotate,
    .pg_product_title_rotate span,
    .pg_product_title_rotate:before,
    .pg_product_title_rotate:after {
        position: absolute;
    }

    .pg_product_title span,
    .pg_product_title:before,
    .pg_product_title:after,
    .pg_product_title_rotate span,
    .pg_product_title_rotate:before,
    .pg_product_title_rotate:after {
        position: absolute;
        overflow: hidden;
        font: $font-Titele2;
        white-space: nowrap;
    }

    .pg_product_title span {
        color: $color-gray1;
        z-index: 13;
        height: 25px;
        top: -17px;
    }

    .pg_product_title:before {
        color: $color-gray2;
        z-index: 11;
        height: 18px;
        top: -27px;
    }

    .pg_product_title:after {
        color: $black;
        z-index: 15;
    }

    // rotate 270
    .pg_product_title_rotate.pg_rotate_270 span {
        color: $color-gray1;
        z-index: 13;
        height: 25px;
        top: 15px;
        left: -33px;
        transform: rotate(270deg);
    }

    .pg_product_title_rotate.pg_rotate_270:before {
        color: $color-gray2;
        z-index: 11;
        height: 18px;
        top: 18px;
        left: -48px;
        transform: rotate(270deg);
    }

    .pg_product_title_rotate.pg_rotate_270:after {
        color: $black;
        z-index: 15;
        transform: rotate(270deg);
    }    

    // rotate 90
    .pg_product_title_rotate.pg_rotate_90 span {
        color: $color-gray1;
        z-index: 13;
        height: 25px;
        top: 15px;
        left: 33px;
        transform: rotate(90deg);
    }

    .pg_product_title_rotate.pg_rotate_90:before {
        color: $color-gray2;
        z-index: 11;
        height: 18px;
        top: 18px;
        left: 48px;
        transform: rotate(90deg);
    }

    .pg_product_title_rotate.pg_rotate_90:after {
        color: $black;
        z-index: 15;
        transform: rotate(90deg);
    }    

    .pg_product_1 {
        .pg_product_title {
            top: -14px;
        }        

        .pg_product_title:before, 
        .pg_product_title:after {
            content: "LINEN BLAZER";
        }    
    }

    .pg_product_2 {
        .pg_product_title {
            bottom: 80px;
            right: -240px;
        }        

        .pg_product_title:before, 
        .pg_product_title:after {
            content: "FREELIFT";
        }    
    }  
    
    .pg_product_3 {
        .pg_product_title {
            top: -45px;
            left: 120px;
        }        

        .pg_product_title:before, 
        .pg_product_title:after {
            content: "SUPER SKINNY";
        }    
    }     

    .pg_product_4 {
        .pg_product_title_rotate {
            top: 46px;
            left: -100px;
        }        

        .pg_product_title_rotate:before, 
        .pg_product_title_rotate:after {
            content: "DENIM";
        }    
    }     

    .pg_product_5 {
        .pg_product_title {
            top: 50px;
            left: -260px;        
        }        

        .pg_product_title:before, 
        .pg_product_title:after {
            content: "SWEATSHIRTS";
        }    
    }     

    .pg_product_6 {
        .pg_product_title {
            top: -50px;
            left: 102px;        
        }        

        .pg_product_title:before, 
        .pg_product_title:after {
            content: "VINTAGE DENIM";
        }
    }  

    .pg_product_7 {
        .pg_product_title_rotate {
            top: 266px;
            left: 165px;      
        }        

        .pg_product_title_rotate:before, 
        .pg_product_title_rotate:after {
            content: "EDITION";
        }    
    }  

}