.pg_home {
    padding: 17px;
    min-width: 1024px !important;
    .grid_height_1 {
        height: $per_grid_height;
    }
    
    .grid_height_2 {
        height: $per_grid_height * 2;
    }
    
    .grid_height_4 {
        height: $per_grid_height * 4;
    }

    .grid_height_6 {
        height: $per_grid_height * 6;
    }

    >　.container {
        width: 990px !important;
        min-width: 990px !important;
    }

    .pg_header {
        height: $per_grid_height;
    }

    .pg_logo {
        width: 131px;
        height: 27px;
        background: $black;
        p {
            color: white;
            font: $font-Logo;
            text-align: center;
            line-height: 27px;
            margin: 0;
            padding: 0;
        }
    }

    .pg_title {
        margin-top: 6px;
        font: $font-Titele;
    }
    
    .pg_product_image {
        background-position:center;
        background-size: cover;       
    }

    .pg_480x400 {
        width: 480px;
        height: 400px;
    }
    
    .pg_240x200 {
        width: 240px;
        height: 200px;
    }

    .pg_480x200 {
        width: 480px;
        height: 200px;
    }

    .pg_240x400 {
        width: 240px;
        height: 400px;    
    }

}