.background-img1 {
    background-image: url('~@/assets/img/1.jpg');
}

.background-img2 {
    background-image: url('~@/assets/img/2.jpg');
}

.background-img3 {
    background-image: url('~@/assets/img/3.jpg');
}

.background-img4 {
    background-image: url('~@/assets/img/4.jpg');
}

.background-img5 {
    background-image: url('~@/assets/img/5.jpg');
}

.background-img6 {
    background-image: url('~@/assets/img/6.jpg');
}

.background-img7 {
    background-image: url('~@/assets/img/7.jpg');
}

.background-img8 {
    background-image: url('~@/assets/img/8.jpg');
}

.background-img9 {
    background-image: url('~@/assets/img/9.jpg');
}